{% liquid
  assign has_desktop_align = true
  if section.settings.desktop_content_alignment == 'left' or section.settings.desktop_content_alignment == 'center' or section.settings.desktop_content_alignment == 'right'
    assign has_desktop_align = false
  endif

  assign has_mobile_align = true
  if section.settings.mobile_content_alignment == 'left' or section.settings.mobile_content_alignment == 'center' or section.settings.mobile_content_alignment == 'right'
    assign has_mobile_align = false
  endif

  assign is_richtext_section = false
  assign is_image_with_text_section = false
  if has_desktop_align == false and has_mobile_align == false
    assign desktop_content_position = section.settings.desktop_content_position
    if desktop_content_position == 'left' or desktop_content_position == 'center' or desktop_content_position == 'right'
      assign is_richtext_section = true
    else
      assign is_image_with_text_section = true
    endif
  endif
%}
{% unless is_image_with_text_section %}
  <div
    class="{% if is_richtext_section %}rich-text__buttons{% else %}buttons-container{% endif %} {{ block.settings.visibility }}"
    style="
      margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
      margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
      {% if has_desktop_align %}--alignment:{{ block.settings.alignment }};{% endif %}
      {% if has_mobile_align %}--mobile-alignment:{{ block.settings.mobile_alignment }};{% endif %}
    "
  >
{% endunless %}
  <style>
    #Button-{{ block.id }} {
      --icon-scale: {{ block.settings.icon_scale | divided_by: 100.0 }}em;
      --icon-spacing: {{ block.settings.icon_spacing }}px;
    }
    {% if block.settings.enable_custom_color %}
      #Button-{{ block.id }} {
        {% if block.settings.button_style_secondary %}
          --color-base-outline-button-labels: {{ block.settings.custom_color.red }}, {{ block.settings.custom_color.green }}, {{ block.settings.custom_color.blue }};
        {% else %}
          --color-button: {{ block.settings.custom_color.red }}, {{ block.settings.custom_color.green }}, {{ block.settings.custom_color.blue }};
          --color-button-text: {{ block.settings.custom_text_color.red }}, {{ block.settings.custom_text_color.green }}, {{ block.settings.custom_text_color.blue }};
        {% endif %}
      }
    {% endif %}
    {% if block.settings.enable_custom_color == true and block.settings.button_style_secondary and settings.link_btn_hover == 'center' or settings.link_btn_hover == 'left' %}
      #Button-{{ block.id }}:hover {
        color: rgb({{ block.settings.custom_outline_hover_text_color.red }}, {{ block.settings.custom_outline_hover_text_color.green }}, {{ block.settings.custom_outline_hover_text_color.blue }});
      }
    {% endif %}
    {% if block.settings.prefix_icon != blank %}
      #Button-{{ block.id }} .button__label::before {
        background-image: url('{{ block.settings.prefix_icon | image_url }}');
      }
    {% endif %}
    {% if block.settings.suffix_icon != blank %}
      #Button-{{ block.id }} .button__label::after {
        background-image: url('{{ block.settings.suffix_icon | image_url }}');
      }
    {% endif %}
  </style>
  <a
    id="Button-{{ block.id }}"
    {% if block.settings.button_link == blank %}
      role="link" aria-disabled="true"
    {% else %}
      href="{{ block.settings.button_link }}"
    {% endif %}
    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}{% if block.settings.full_width %} button--full-width{% endif %}{% if block.settings.large_font_size %} button--large-text{% endif %}{% if block.settings.prefix_icon != blank %} button--prefix-icon{% endif %}{% if block.settings.suffix_icon != blank %} button--suffix-icon{% endif %} {{ block.settings.visibility }}"
  >
    <span class='button__label'>
      {{- block.settings.button_label -}}
    </span>
  </a>
{% unless is_image_with_text_section %}
  </div>
{% endunless %}

{% schema %}
{
  "name": "Link button",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Use outline button style"
    },
    {
      "type": "checkbox",
      "id": "large_font_size",
      "default": false,
      "label": "Use larger font size"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_color",
      "label": "Enable custom button colors",
      "default": false,
      "info": "The two color selections below are applied if this setting is enabled."
    },
    {
      "type": "color",
      "id": "custom_color",
      "default": "#dd1d1d",
      "label": "Button custom color",
      "visible_if": "{{ block.settings.enable_custom_color == true }}"
    },
    {
      "type": "color",
      "id": "custom_text_color",
      "default": "#fff",
      "label": "Button custom text color",
      "visible_if": "{{ block.settings.enable_custom_color == true and block.settings.button_style_secondary == false }}"
    },
    {
      "type": "color",
      "id": "custom_outline_hover_text_color",
      "default": "#fff",
      "label": "Button custom hover text color",
      "visible_if": "{{ block.settings.enable_custom_color == true and block.settings.button_style_secondary and settings.link_btn_hover == 'center' or settings.link_btn_hover == 'left' }}"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full buttons width"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "flex-start",
      "label": "Desktop alignment",
      "visible_if": "{{ section.settings.desktop_content_alignment != 'left' and section.settings.desktop_content_alignment != 'center' and section.settings.desktop_content_alignment != 'right' }}"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile alignment",
      "visible_if": "{{ section.settings.mobile_content_alignment != 'left' and section.settings.mobile_content_alignment != 'center' and section.settings.mobile_content_alignment != 'right' }}"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "range",
      "id": "icon_scale",
      "min": 80,
      "max": 180,
      "step": 5,
      "unit": "%",
      "label": "Icons scale",
      "default": 120,
      "info": "Related to button label font size"
    },
    {
      "type": "range",
      "id": "icon_spacing",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Icons spacing",
      "default": 10,
      "info": "Empty space between the button label & the icons"
    },
    {
      "type": "image_picker",
      "id": "prefix_icon",
      "label": "Label prefix icon"
    },
    {
      "type": "image_picker",
      "id": "suffix_icon",
      "label": "Label suffix icon"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "Link button",
      "category": "Buttons"
    }
  ]
}
{% endschema %}

