<div 
  class="product-info__image-block{% if block.settings.Full_mobile_width %} product-info__image-block--mobile-full{% endif %} {{ block.settings.visibility }}" 
  style="
    margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
    margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
    --image-alignment:{{ block.settings.alignment }};
    --border-radius:{{ block.settings.border_radius | divided_by: 10.0 }}rem;
  "
  {{ block.shopify_attributes }}
>
  <div class='product-info__divider' style="height:{{ block.settings.height }}px;width:{{ block.settings.width }}%;background:{{ block.settings.color }};border-radius:{{ block.settings.border_radius }}px;display:block;">&nbsp</div>
</div>

{% schema %}
{
  "name": "Divider",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#E1E1E1"
    },
    {
      "type": "range",
      "id": "height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 1
    },
    {
      "type": "range",
      "id": "width",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "Full_mobile_width",
      "label": "Full container width on mobile",
      "default": false,
      "info": "If enabled & Width is set to 100%, the divider will be edge-to-edge on mobile."
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Corner radius",
      "default": 0,
      "info": "Only visible with bigger heights."
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.image_1_visibility != 'mobile-hidden' and section.settings.image_1_visibility != 'always-display' }}"
    }
  ],
  "presets": [
    {
      "name": "Divider",
      "category": "Layout"
    }
  ]
}
{% endschema %}
