{% liquid
  if section.settings.product_images == 'all' or section.settings.product_images == 'one'
    assign product = section.settings.product
  endif
%}
<p
  class="product__sku no-js-hidden{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
  id="Sku-{{ section.id }}"
  role="status"
  {{ block.shopify_attributes }}
  style="
    margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
    margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
  "
>
  <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
  {{- product.selected_or_first_available_variant.sku -}}
</p>

{% schema %}
{
  "name": "SKU",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "subtitle",
          "label": "Subtitle"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default": "body",
      "label": "Text style"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "SKU",
      "category": "Product basics"
    }
  ]
}
{% endschema %}
