<p
  class="urgency-text color-{{ block.settings.color_scheme }} {{ block.settings.visibility }}"
  style="
    margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
    margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
  "
  role="status"
  aria-live="polite"
  aria-label="{{ block.settings.urgency }}"
  {{ block.shopify_attributes }}
>
  <strong>{{ block.settings.urgency }}</strong>
</p>

{% schema %}
{
  "name": "Urgency text",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "text",
      "id": "urgency",
      "label": "Text",
      "default": "HOT PRODUCT | LOW STOCK"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Text"
        }
      ],
      "default": "accent-1",
      "label": "Color"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "Urgency text",
      "category": "Urgency"
    }
  ]
}
{% endschema %}
