<modal-opener
  class="product-popup-modal__opener no-js-hidden quick-add-hidden {{ block.settings.visibility }}"
  data-modal="#PopupModal-{{ block.id }}"
  {{ block.shopify_attributes }}
  style="
    margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
    margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
  "
>
  <button
    id="ProductPopup-{{ block.id }}"
    class="product-popup-modal__button link"
    type="button"
    aria-haspopup="dialog"
  >
    {{ block.settings.text | default: block.settings.page.title }}
  </button>
</modal-opener>
<a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">
  {{- block.settings.text -}}
</a>
<modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
  <div
    role="dialog"
    aria-label="{{ block.settings.text }}"
    aria-modal="true"
    class="product-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ block.id }}"
      type="button"
      class="product-popup-modal__toggle product-popup-modal__toggle--{{ block.settings.close_button_style }}"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="product-popup-modal__content-info">
      <h1 class="h2">{{ block.settings.page.title }}</h1>
      {{ block.settings.page.content }}
    </div>
  </div>
</modal-dialog>

{% schema %}
{
  "name": "Pop-up",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Pop-up link text",
      "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
    },
    {
      "id": "page",
      "type": "page",
      "label": "t:sections.main-product.blocks.popup.settings.page.label"
    },
    {
      "type": "select",
      "id": "close_button_style",
      "options": [
        {
          "value": "outlined",
          "label": "Outlined"
        },
        {
          "value": "minimalistic",
          "label": "Minimalistic"
        }
      ],
      "default": "minimalistic",
      "label": "Close button style"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Pop-up",
      "category": "Information display"
    }
  ]
}
{% endschema %}
