{% liquid
  assign nowrap = false
  assign item_count = 0
  if block.settings.text_1 != blank
    assign item_count = item_count | plus: 1
  endif
  if block.settings.text_2 != blank
    assign item_count = item_count | plus: 1
  endif
  if block.settings.text_3 != blank
    assign item_count = item_count | plus: 1
  endif
  if block.settings.text_4 != blank
    assign item_count = item_count | plus: 1
  endif
  if block.settings.text_5 != blank
    assign item_count = item_count | plus: 1
  endif
  if block.settings.text_6 != blank
    assign item_count = item_count | plus: 1
  endif
  if item_count > 3
    assign item_count = 2
  endif
%}
{% if block.settings.block_width == 'fixed' %}
  <style>
    .product__text-container-{{ block.id }} {
      width: {{ block.settings.block_mobile_width }}px;
      flex-shrink: 0;
    }
    @media screen and (min-width: 750px) {
      .product__text-container-{{ block.id }} {
        width: {{ block.settings.block_desktop_width }}px;
      }
    }
  </style>
{% elsif block.settings.block_width == 'unlimited' %}
  {% assign nowrap = true %}
{% endif %}

<div
  class="
    product__text-container product__text-container-{{ block.id }}  {{ block.settings.visibility }}
    product__text-container--{{ block.settings.alignment }}
    product__text-container--{{ block.settings.direction }}
    product__text-container--{{ block.settings.width }}
    product__text-container--styling-{{ block.settings.styling_container }}
    product__text-container--mobile-{{ block.settings.mobile_alignment }}
    text-with-icon-block
    {% if block.settings.border_width > 0 %}has-border{% endif %}
    {% if block.settings.border_color_type == 'gradient' %}text-with-icon-block--border-gradient{% endif %}
    {% if block.settings.bg_type == 'gradient' %}text-with-icon-block--bg-gradient{% endif %}
    {% if block.settings.enable_shadow %}text-with-icon-block--block-shadow{% endif %}
    {% if item_count > 1 %} product__text-container--multiple{% endif %}
    {% if block.settings.width == 'full_negative' %} side-margins-negative{% endif %}
    {% if block.settings.font_family == 'heading' %} heading-font{% endif %}
    {% if block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow %}has-border-radius{% endif %}
  "
  style="
    margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
    margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
    --item-count: {{ item_count }};
    --mobile-text-size: {{ block.settings.mobile_text_size | divided_by: 10.0 }}rem;
    --desktop-text-size: {{ block.settings.desktop_text_size | divided_by: 10.0 }}rem;
    --icon-scale: {{ block.settings.icon_scale | divided_by: 100.0 }};
    --column-gap: {{ block.settings.column_gap | divided_by: 2.0 }}em;
    --row-gap: {{ block.settings.column_gap | divided_by: 5.0 }}em;
    --padding-y--mobile: {{ block.settings.vertical_mobile_padding | divided_by: 10.0 }}rem;
    --padding-x--mobile: {{ block.settings.horizontal_mobile_padding | divided_by: 10.0 }}rem;
    --padding-y--desktop: {{ block.settings.vertical_desktop_padding | divided_by: 10.0 }}rem;
    --padding-x--desktop: {{ block.settings.horizontal_desktop_padding | divided_by: 10.0 }}rem;
    --mobile-width: {{ block.settings.mobile_width }};
    --desktop-width: {{ block.settings.desktop_width }};


    {% if block.settings.styling_container == 'container' %}
    {% if block.settings.bg_type == 'solid' %}
        {% assign red = block.settings.bg_color | color_extract: 'red' %}
        {% assign green = block.settings.bg_color | color_extract: 'green' %}
        {% assign blue = block.settings.bg_color | color_extract: 'blue' %}
        background: rgba({{ red }}, {{ green }}, {{ blue }}, {{ block.settings.bg_opacity | divided_by: 100.0 }});
    {% elsif block.settings.bg_type == 'gradient' %}
        {% assign opacity_value = block.settings.bg_opacity | divided_by: 100.0 %}

        {% if block.settings.bg_gradient contains 'rgb(' %}
        {% if block.settings.bg_gradient contains 'rgba(' %}
            {% assign gradient_raw = block.settings.bg_gradient %}
        {% else %}
            {% assign gradient_raw = block.settings.bg_gradient | replace: 'rgb(', 'rgba(' | replace: ')', ', 1)' %}
        {% endif %}
        {% else %}
        {% assign gradient_raw = block.settings.bg_gradient %}
        {% endif %}

        {% assign rgba_parts = gradient_raw | split: 'rgba(' %}
        {% assign gradient_modified = rgba_parts[0] %}

        {% for part in rgba_parts offset:1 %}
        {% assign subparts = part | split: ')' %}
        {% assign inner = subparts[0] | strip %}
        {% assign rest = subparts[1] %}
        {% assign comps = inner | split: ',' %}
        {% assign r = comps[0] | strip %}
        {% assign g = comps[1] | strip %}
        {% assign b = comps[2] | strip %}
        {% assign gradient_modified = gradient_modified
            | append: 'rgba('
            | append: r | append: ',' | append: g | append: ',' | append: b | append: ',' | append: opacity_value | append: ')' | append: rest %}
        {% endfor %}
        background: {{ gradient_modified }});
    {% else %}
        background: none;
    {% endif %}

    {% if block.settings.enable_shadow %}
        {% assign shadow_alpha = block.settings.shadow_opacity | divided_by: 100.0 %}
        --shadow-color: {{ block.settings.shadow_color | color_modify: 'alpha', shadow_alpha }};
        --shadow-offset-x: {{ block.settings.shadow_horizontal_offset }}px;
        --shadow-offset-y: {{ block.settings.shadow_vertical_offset }}px;
        --shadow-blur: {{ block.settings.shadow_blur }}px;
        --shadow-spread: {{ block.settings.shadow_spread }}px;
            box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
    {% else %}
        --shadow-color: transparent;
        --shadow-offset-x: 0px;
        --shadow-offset-y: 0px;
        --shadow-blur: 0px;
        --shadow-spread: 0px;
        box-shadow: none;
    {% endif %}


    {% if block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow %}
      {% assign font_size_desktop = block.settings.desktop_text_size %}
      {% assign padding_y_desktop = block.settings.vertical_desktop_padding %}
      {% assign border_size = block.settings.border_width %}
      {% assign total_height_desktop = font_size_desktop | plus: padding_y_desktop | plus: border_size %}
      {% assign border_radius_percent = block.settings.border_radius %}
      {% assign border_radius_calc_desktop = total_height_desktop | times: border_radius_percent | divided_by: 100.0 %}

      {% assign font_size_mobile = block.settings.mobile_text_size %}
      {% assign padding_y_mobile = block.settings.vertical_mobile_padding %}
      {% assign total_height_mobile = font_size_mobile | plus: padding_y_mobile | plus: border_size %}
      {% assign border_radius_calc_mobile = total_height_mobile | times: border_radius_percent | divided_by: 100.0 %}

      --border-radius: {{ border_radius_calc_desktop }}px;
      --border-radius-mobile: {{ border_radius_calc_mobile }}px;
    {% else %}
        --border-radius: 0;
    {% endif %}


    {% if block.settings.styling_container == 'container' %}
      --border-width: {{ block.settings.border_width }}px;
    {% else %}
      --border-width: 0px;
    {% endif %}
    --border-style: {{ block.settings.border }};

    {% if block.settings.border_color_type == 'solid' %}
      {% assign red = block.settings.border_color | color_extract: 'red' %}
      {% assign green = block.settings.border_color | color_extract: 'green' %}
      {% assign blue = block.settings.border_color | color_extract: 'blue' %}
      {% assign alpha = block.settings.border_opacity | divided_by: 100.0 %}
      --border-color: rgba({{ red }}, {{ green }}, {{ blue }}, {{ alpha }});
      border: var(--border-width) var(--border-style) var(--border-color);
    {% elsif block.settings.border_color_type == 'gradient' %}
      {% assign opacity_value = block.settings.border_opacity | divided_by: 100.0 %}
      {% assign gradient_raw = block.settings.border_gradient %}
      {% if gradient_raw contains 'rgb(' %}
        {% unless gradient_raw contains 'rgba(' %}
            {% assign gradient_raw = gradient_raw | replace: 'rgb(', 'rgba(' | replace: ')', ', 1)' %}
        {% endunless %}
    {% endif %}
      {% assign rgba_parts = gradient_raw | split: 'rgba(' %}
      {% assign gradient_modified = rgba_parts[0] %}
      {% for part in rgba_parts offset:1 %}
        {% assign subparts = part | split: ')' %}
        {% assign inner = subparts[0] | strip %}
        {% assign rest = subparts[1] %}
        {% assign comps = inner | split: ',' %}
        {% assign r = comps[0] | strip %}
        {% assign g = comps[1] | strip %}
        {% assign b = comps[2] | strip %}
        {% assign gradient_modified = gradient_modified
          | append: 'rgba('
          | append: r | append: ',' | append: g | append: ',' | append: b | append: ',' | append: opacity_value | append: ')' | append: rest %}
      {% endfor %}
      --border-gradient: {{ gradient_modified }});
    {% else %}
      --border-gradient: transparent;
    {% endif %}

    {% endif %}
  "
  {{- block.shopify_attributes -}}
>
  {% for i in (1..6) %}
    {% liquid
      case i
        when 1
          assign text = block.settings.text_1
          assign icon = block.settings.icon_1
          assign custom_icon = block.settings.custom_icon_1
          assign filled_icon = block.settings.filled_icon_1
        when 2
          assign text = block.settings.text_2
          assign icon = block.settings.icon_2
          assign custom_icon = block.settings.custom_icon_2
          assign filled_icon = block.settings.filled_icon_2
        when 3
          assign text = block.settings.text_3
          assign icon = block.settings.icon_3
          assign custom_icon = block.settings.custom_icon_3
          assign filled_icon = block.settings.filled_icon_3
        when 4
          assign text = block.settings.text_4
          assign icon = block.settings.icon_4
          assign custom_icon = block.settings.custom_icon_4
          assign filled_icon = block.settings.filled_icon_4
        when 5
          assign text = block.settings.text_5
          assign icon = block.settings.icon_5
          assign custom_icon = block.settings.custom_icon_5
          assign filled_icon = block.settings.filled_icon_5
        when 6
          assign text = block.settings.text_6
          assign icon = block.settings.icon_6
          assign custom_icon = block.settings.custom_icon_6
          assign filled_icon = block.settings.filled_icon_6
      endcase
    %}
    {% if text != blank %}
      <p
        class="
          product__text product__text-{{ block.settings.alignment }}
          product__text-mobile-{{ block.settings.mobile_alignment }}
          product__text--{{ block.settings.text_color_type }}
          product__text-icon--{{ block.settings.icon_color_type }}
          {% if block.settings.border_color_type == 'gradient' %}product__text--border-gradient{% endif %}
        "
        style="
            {% if block.settings.text_color_type == 'solid' %}
                --text-color:{{ block.settings.text_color }};
            {% elsif block.settings.text_color_type == 'gradient' %}
                --background-text:{{ block.settings.text_color_gradient }};
            {%endif %}
            {% if block.settings.icon_color_type == 'solid' %}
                --icon-color:{{ block.settings.icon_color }};
            {% elsif block.settings.icon_color_type == 'gradient' %}
                --background-icon:{{ block.settings.icon_color_gradient }};
            {%endif %}


            {% if block.settings.styling_container == 'text' %}
                {% if block.settings.bg_type == 'solid' %}
                    {% assign red = block.settings.bg_color | color_extract: 'red' %}
                    {% assign green = block.settings.bg_color | color_extract: 'green' %}
                    {% assign blue = block.settings.bg_color | color_extract: 'blue' %}
                    background: rgba({{ red }}, {{ green }}, {{ blue }}, {{ block.settings.bg_opacity | divided_by: 100.0 }});
                {% elsif block.settings.bg_type == 'gradient' %}
                    {% assign opacity_value = block.settings.bg_opacity | divided_by: 100.0 %}

                    {% if block.settings.bg_gradient contains 'rgb(' %}
                    {% if block.settings.bg_gradient contains 'rgba(' %}
                        {% assign gradient_raw = block.settings.bg_gradient %}
                    {% else %}
                        {% assign gradient_raw = block.settings.bg_gradient | replace: 'rgb(', 'rgba(' | replace: ')', ', 1)' %}
                    {% endif %}
                    {% else %}
                    {% assign gradient_raw = block.settings.bg_gradient %}
                    {% endif %}

                    {% assign rgba_parts = gradient_raw | split: 'rgba(' %}
                    {% assign gradient_modified = rgba_parts[0] %}

                    {% for part in rgba_parts offset:1 %}
                    {% assign subparts = part | split: ')' %}
                    {% assign inner = subparts[0] | strip %}
                    {% assign rest = subparts[1] %}
                    {% assign comps = inner | split: ',' %}
                    {% assign r = comps[0] | strip %}
                    {% assign g = comps[1] | strip %}
                    {% assign b = comps[2] | strip %}
                    {% assign gradient_modified = gradient_modified
                        | append: 'rgba('
                        | append: r | append: ',' | append: g | append: ',' | append: b | append: ',' | append: opacity_value | append: ')' | append: rest %}
                    {% endfor %}
                    background: {{ gradient_modified }});
                {% else %}
                    background: none;
                {% endif %}

                {% if block.settings.enable_shadow %}
                    {% assign shadow_alpha = block.settings.shadow_opacity | divided_by: 100.0 %}
                    --shadow-color: {{ block.settings.shadow_color | color_modify: 'alpha', shadow_alpha }};
                    --shadow-offset-x: {{ block.settings.shadow_horizontal_offset }}px;
                    --shadow-offset-y: {{ block.settings.shadow_vertical_offset }}px;
                    --shadow-blur: {{ block.settings.shadow_blur }}px;
                    --shadow-spread: {{ block.settings.shadow_spread }}px;
                        box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
                {% else %}
                    --shadow-color: transparent;
                    --shadow-offset-x: 0px;
                    --shadow-offset-y: 0px;
                    --shadow-blur: 0px;
                    --shadow-spread: 0px;
                    box-shadow: none;
                {% endif %}


                {% if block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow %}
                    {% assign font_size = block.settings.desktop_text_size %}
                    {% assign padding_y = block.settings.vertical_desktop_padding %}
                    {% assign border_size = block.settings.border_width %}
                    {% assign total_height = font_size | plus: padding_y | plus: border_size %}
                    {% assign border_radius_percent = block.settings.border_radius %}
                    {% assign border_radius_calc = total_height | times: border_radius_percent | divided_by: 100.0 %}
                    --border-radius: {{ border_radius_calc }}px;
                {% else %}
                    --border-radius: 0;
                {% endif %}

                --border-width: {{ block.settings.border_width }}px;
                --border-style: {{ block.settings.border }};

                {% if block.settings.border_color_type == 'solid' %}
                    {% assign red = block.settings.border_color | color_extract: 'red' %}
                    {% assign green = block.settings.border_color | color_extract: 'green' %}
                    {% assign blue = block.settings.border_color | color_extract: 'blue' %}
                    {% assign alpha = block.settings.border_opacity | divided_by: 100.0 %}
                    --border-color: rgba({{ red }}, {{ green }}, {{ blue }}, {{ alpha }});
                    border: var(--border-width) var(--border-style) var(--border-color);
                {% elsif block.settings.border_color_type == 'gradient' %}
                    {% assign opacity_value = block.settings.border_opacity | divided_by: 100.0 %}
                    {% assign gradient_raw = block.settings.border_gradient %}
                    {% if gradient_raw contains 'rgb(' %}
                    {% unless gradient_raw contains 'rgba(' %}
                        {% assign gradient_raw = gradient_raw | replace: 'rgb(', 'rgba(' | replace: ')', ', 1)' %}
                    {% endunless %}
                {% endif %}
                    {% assign rgba_parts = gradient_raw | split: 'rgba(' %}
                    {% assign gradient_modified = rgba_parts[0] %}
                    {% for part in rgba_parts offset:1 %}
                    {% assign subparts = part | split: ')' %}
                    {% assign inner = subparts[0] | strip %}
                    {% assign rest = subparts[1] %}
                    {% assign comps = inner | split: ',' %}
                    {% assign r = comps[0] | strip %}
                    {% assign g = comps[1] | strip %}
                    {% assign b = comps[2] | strip %}
                    {% assign gradient_modified = gradient_modified
                        | append: 'rgba('
                        | append: r | append: ',' | append: g | append: ',' | append: b | append: ',' | append: opacity_value | append: ')' | append: rest %}
                    {% endfor %}
                    --border-gradient: {{ gradient_modified }});
                {% else %}
                    --border-gradient: transparent;
                {% endif %}

          {% endif %}
        "
      >
        {% if custom_icon != blank %}
          <img
            src="{{ custom_icon | image_url }}"
            alt="{{ custom_icon.alt }}"
            width="auto"
            height="auto"
            loading="lazy"
          >
        {% elsif icon != blank %}
          {% render 'material-icon', icon: icon, filled: filled_icon %}
        {% endif %}
        <span
          class="text"
          {% if nowrap %}
            class="nowrap"
          {% endif %}
        >
          {{- text -}}
        </span>
      </p>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Text with icon NEW",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "range",
      "id": "mobile_text_size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 14,
      "label": "Mobile text size"
    },
    {
      "type": "range",
      "id": "desktop_text_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16,
      "label": "Desktop text size"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Mobile text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_color_type",
      "label": "Text color type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#121212",
      "label": "Text color",
      "visible_if": "{{ block.settings.text_color_type == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "text_color_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ block.settings.text_color_type == 'gradient' }}"
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "Font",
      "options": [
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "heading",
          "label": "Heading"
        }
      ],
      "default": "body"
    },
    {
      "type": "header",
      "content": "Icon settings"
    },
    {
      "type": "range",
      "id": "icon_scale",
      "min": 100,
      "max": 200,
      "step": 5,
      "default": 120,
      "unit": "%",
      "label": "Icon scale",
      "info": "Relative to text size"
    },

    {
      "type": "select",
      "id": "icon_color_type",
      "label": "Icon color type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color",
      "id": "icon_color",
      "default": "#121212",
      "label": "Icon color",
      "visible_if": "{{ block.settings.icon_color_type == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "icon_color_gradient",
      "label": "Icon gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ block.settings.icon_color_type == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit text"
        },
        {
          "value": "100%",
          "label": "Full"
        }
      ],
      "default": "100%",
      "label": "Width"
    },
    {
      "type": "select",
      "id": "direction",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal",
      "label": "Stacking direction",
      "info": "Applied when multiple texts are added."
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 0,
      "max": 6,
      "step": 0.5,
      "label": "Stacking spacing",
      "default": 3
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "styling_container",
      "options": [
        {
          "value": "container",
          "label": "Whole block container"
        },
        {
          "value": "text",
          "label": "Each text item"
        }
      ],
      "default": "container",
      "label": "Apply background, padding, border & shadow to:"
    },
    {
      "type": "select",
      "id": "bg_type",
      "label": "Background",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid",
          "label": "Solid color"
        },
        {
          "value": "gradient",
          "label": "Gradient color"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#F4E1FF",
      "visible_if": "{{ block.settings.bg_type == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "bg_gradient",
      "label": "Background gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ block.settings.bg_type == 'gradient' }}"
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Background opacity",
      "default": 100,
      "visible_if": "{{ block.settings.bg_type != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 8,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.border_width > 0 and block.settings.border_color_type != 'gradient' }}"
    },
    {
      "type": "select",
      "id": "border_color_type",
      "label": "Border color type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.border_width > 0 }}"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ block.settings.border_width > 0 and block.settings.border_color_type == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "border_gradient",
      "label": "Border gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ block.settings.border_width > 0 and block.settings.border_color_type == 'gradient' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Border opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border_width > 0 }}"
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "Enable drop shadow",
      "default": false
    },
    {
      "type": "color",
      "id": "shadow_color",
      "label": "Shadow color",
      "default": "#000000",
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "shadow_opacity",
      "label": "Shadow opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 15,
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "shadow_horizontal_offset",
      "label": "Shadow horizontal offset (px)",
      "min": -50,
      "max": 50,
      "step": 2,
      "default": 0,
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "shadow_vertical_offset",
      "label": "Shadow vertical offset (px)",
      "min": -50,
      "max": 50,
      "step": 2,
      "default": 10,
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "shadow_spread",
      "label": "Shadow spread (px)",
      "min": -50,
      "max": 50,
      "step": 2,
      "default": 0,
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "shadow_blur",
      "label": "Shadow blur (px)",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "visible_if": "{{ block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 50,
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "header",
      "content": "Padding",
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "vertical_desktop_padding",
      "label": "Vertical desktop padding",
      "min": 0,
      "max": 60,
      "step": 3,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "horizontal_desktop_padding",
      "label": "Horizontal desktop padding",
      "min": 0,
      "max": 60,
      "step": 3,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "vertical_mobile_padding",
      "label": "Vertical mobile padding",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "range",
      "id": "horizontal_mobile_padding",
      "label": "Horizontal mobile padding",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.bg_type != 'none' or block.settings.border_width > 0 or block.settings.enable_shadow }}"
    },
    {
      "type": "header",
      "content": "Text & icon #1"
    },
    {
      "type": "inline_richtext",
      "id": "text_1",
      "default": "Text with icon",
      "label": "Text #1"
    },
    {
      "type": "text",
      "id": "icon_1",
      "default": "check_circle",
      "label": "Icon #1",
      "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web).",
      "visible_if": "{{ block.settings.text_1 != blank }}"
    },
    {
      "type": "checkbox",
      "id": "filled_icon_1",
      "default": false,
      "label": "Filled icon #1",
      "visible_if": "{{ block.settings.text_1 != blank }}"
    },
    {
      "type": "image_picker",
      "id": "custom_icon_1",
      "label": "Custom icon #1",
      "visible_if": "{{ block.settings.text_1 != blank }}"
    },
    {
      "type": "header",
      "content": "Text & icon #2"
    },
    {
      "type": "inline_richtext",
      "id": "text_2",
      "label": "Text #2"
    },
    {
      "type": "text",
      "id": "icon_2",
      "default": "check_circle",
      "label": "Icon #2",
      "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web).",
      "visible_if": "{{ block.settings.text_2 != blank }}"
    },
    {
      "type": "checkbox",
      "id": "filled_icon_2",
      "default": false,
      "label": "Filled icon #2",
      "visible_if": "{{ block.settings.text_2 != blank }}"
    },
    {
      "type": "image_picker",
      "id": "custom_icon_2",
      "label": "Custom icon #2",
      "visible_if": "{{ block.settings.text_2 != blank }}"
    },
    {
      "type": "header",
      "content": "Text & icon #3"
    },
    {
      "type": "inline_richtext",
      "id": "text_3",
      "label": "Text #3"
    },
    {
      "type": "text",
      "id": "icon_3",
      "default": "check_circle",
      "label": "Icon #3",
      "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web).",
      "visible_if": "{{ block.settings.text_3 != blank }}"
    },
    {
      "type": "checkbox",
      "id": "filled_icon_3",
      "default": false,
      "label": "Filled icon #3",
      "visible_if": "{{ block.settings.text_3 != blank }}"
    },
    {
      "type": "image_picker",
      "id": "custom_icon_3",
      "label": "Custom icon #3",
      "visible_if": "{{ block.settings.text_3 != blank }}"
    },
    {
      "type": "header",
      "content": "Text & icon #4"
    },
    {
      "type": "inline_richtext",
      "id": "text_4",
      "label": "Text #4"
    },
    {
      "type": "text",
      "id": "icon_4",
      "default": "check_circle",
      "label": "Icon #4",
      "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web).",
      "visible_if": "{{ block.settings.text_4 != blank }}"
    },
    {
      "type": "checkbox",
      "id": "filled_icon_4",
      "default": false,
      "label": "Filled icon #4",
      "visible_if": "{{ block.settings.text_4 != blank }}"
    },
    {
      "type": "image_picker",
      "id": "custom_icon_4",
      "label": "Custom icon #4",
      "visible_if": "{{ block.settings.text_4 != blank }}"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.image_1_visibility != 'mobile-hidden' and section.settings.image_1_visibility != 'always-display' }}"
    }
  ],
  "presets": [
    {
      "name": "Text with icon NEW",
      "category": "Icons"
    }
  ]
}
{% endschema %}
