{%- style -%}
  #CollapsibleRows-{{ section.id }} .accordion {
    --animation-duration: {{ section.settings.animation_speed }}s;
    --border-thickness: {{ section.settings.border_thickness }}px;
    --border-style: {{ section.settings.border_style }};
    {% if section.settings.border_type == 'all' or section.settings.enable_custom_style and section.settings.border_type == 'none' %}
      --corner-radius: {{ section.settings.corner_radius }}px;
    {% endif %}
  }
  #CollapsibleRows-{{ section.id }} .accordion + .accordion {
    margin-top: {{ section.settings.rows_spacing | divided_by: 10.0 }}rem;
  }
  {% if section.settings.enable_custom_style %}
    #CollapsibleRows-{{ section.id }} .accordion__summary {
      padding: {{ section.settings.heading_padding_vertical | divided_by: 10.0 }}rem {{ section.settings.heading_padding_horizontal | divided_by: 10.0 }}rem;
    }
    #CollapsibleRows-{{ section.id }} .accordion__content__inner {
      padding: {{ section.settings.content_padding_vertical | divided_by: 10.0 }}rem {{ section.settings.content_padding_horizontal | divided_by: 10.0 }}rem;
    }
    #CollapsibleRows-{{ section.id }} .accordion {
      --border-color: {{ section.settings.closed_state_border }};
      --header-bg: {{ section.settings.closed_state_header_bg }};
      --icon-color: {{ section.settings.closed_state_row_icon }};
      --collapse-icon-color: {{ section.settings.closed_state_collapse_icon }};
      --solid-collapse-icon-color: {{ section.settings.closed_state_collapse_icon_solid }};
      --solid-collapse-icon-bg: {{ section.settings.closed_state_collapse_bg }};
      --content-bg: {{ section.settings.closed_state_content_bg }};
    }
    #CollapsibleRows-{{ section.id }} .accordion__details {
      --color-foreground: {{ section.settings.closed_state_header_text.red }}, {{ section.settings.closed_state_header_text.green }}, {{ section.settings.closed_state_header_text.blue }};
    }
    #CollapsibleRows-{{ section.id }} .accordion__content-wrapper {
      --color-foreground: {{ section.settings.closed_state_content_text.red }}, {{ section.settings.closed_state_content_text.green }}, {{ section.settings.closed_state_content_text.blue }};
      color: rgba(var(--color-foreground));
    }

    #CollapsibleRows-{{ section.id }} .accordion:has(details[open]) {
      --border-color: {{ section.settings.open_state_border }};
      --header-bg: {{ section.settings.open_state_header_bg }};
      --icon-color: {{ section.settings.open_state_row_icon }};
      --collapse-icon-color: {{ section.settings.open_state_collapse_icon }};
      --solid-collapse-icon-color: {{ section.settings.open_state_collapse_icon_solid }};
      --solid-collapse-icon-bg: {{ section.settings.open_state_collapse_bg }};
      --content-bg: {{ section.settings.open_state_content_bg }};
    }
    #CollapsibleRows-{{ section.id }} .accordion__details[open] {
      --color-foreground: {{ section.settings.open_state_header_text.red }}, {{ section.settings.open_state_header_text.green }}, {{ section.settings.open_state_header_text.blue }};
    }
    #CollapsibleRows-{{ section.id }} .accordion__details[open] + .accordion__content-wrapper {
      --color-foreground: {{ section.settings.open_state_content_text.red }}, {{ section.settings.open_state_content_text.green }}, {{ section.settings.open_state_content_text.blue }};
    }
  {% endif %}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% if section.settings.image_ratio == 'adapt' and section.settings.video == blank and section.settings.image_mobile != blank %}
    @media screen and (max-width: 749px) {
      #CollapsibleContentMedia-{{ section.id }} {
        padding-bottom: var(--mobile-ratio) !important;
      }
    }
  {% endif %}

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    {% if section.settings.custom_image_background != blank %}
      {% # theme-check-disable %}
      --gradient-background: url('{{ section.settings.custom_image_background | img_url: 'master' }}') center center / cover no-repeat;
      {% # theme-check-enable %}
    {% endif %}
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
  }
  {% if section.settings.custom_mobile_image_background != blank %}
    @media screen and (max-width: 740px) {
      .color-scheme-{{ section.id }}.color-custom {
        {% # theme-check-disable %}
        --gradient-background: url('{{ section.settings.custom_mobile_image_background | img_url: 'master' }}') center center / cover no-repeat;
        {% # theme-check-enable %}
      }
    }
  {% endif %}
  .container-color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_contaner_colors_background.red }}, {{ section.settings.custom_contaner_colors_background.green }}, {{ section.settings.custom_contaner_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_container_gradient_background != blank %}{{ section.settings.custom_container_gradient_background }}{% else %}{{ section.settings.custom_contaner_colors_background }}{% endif %};
    --color-foreground: {{ section.settings.custom_contaner_colors_text.red }}, {{ section.settings.custom_contaner_colors_text.green }}, {{ section.settings.custom_contaner_colors_text.blue }};
  }
  {% if section.settings.pattern_bg != 'none' %}
    {% render 'pattern-background' %}
  {% endif %}
{%- endstyle -%}

<div class="color-scheme-{{ section.id }} color-{{ section.settings.color_scheme }} gradient content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div class="collapsible-content collapsible-{{ section.settings.layout }}-layout isolate{% if section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
    <div class="collapsible-content__wrapper section-{{ section.id }}-padding{% if section.settings.layout == 'section' %} content-container container-color-scheme-{{ section.id }} color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
      <div class="{% if section.settings.image == blank %}collapsible-content-wrapper-narrow{% else %}page-width{% endif %}">
        <div
          class="collapsible-content__header animate-item animate-item--child index-0"
          style="text-align: {{ section.settings.heading_alignment }};"
        >
          {%- if section.settings.caption != blank -%}
            <p class="caption-with-letter-spacing center">{{ section.settings.caption }}</p>
          {% endif %}
          {%- if section.settings.title != blank -%}
            {% render 'section-title', className: 'collapsible-content__heading' %}
          {%- else -%}
            <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
          {% endif %}
        </div>
        <div class="grid grid--1-col grid--2-col-tablet collapsible-content__grid{% if section.settings.desktop_layout == 'image_second' %} collapsible-content__grid--reverse{% endif %}">
          {%- if section.settings.image != blank or section.settings.video != blank -%}
            <div class="grid__item collapsible-content__grid-item animate-item animate-item--child index-1">
              <div
                id="CollapsibleContentMedia-{{ section.id }}"
                class="collapsible-content__media collapsible-content__media--{{ section.settings.image_ratio }} media global-media-settings gradient"
                {% if section.settings.image_ratio == 'adapt' and section.settings.video != blank %}
                  style="padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%;"
                {% elsif section.settings.image_ratio == 'adapt' %}
                  style="
                    padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
                    {% if section.settings.image_mobile != blank %}
                      --mobile-ratio: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
                    {% endif %}
                  "
                {% endif %}
              >
                {% if section.settings.video != blank %}
                  {% liquid
                    assign autoplay = false
                    if section.settings.video_muted_autoplay
                      assign autoplay = true
                    endif
                  %}
                  <internal-video data-autoplay="{{ autoplay }}" data-no-play-btn="{{ autoplay }}">
                    <video
                      width="100%"
                      height="auto"
                      preload="metadata"
                      poster="{{ section.settings.video.preview_image | image_url }}"
                      {% if autoplay %}
                        muted autoplay loop
                      {% endif %}
                      playsinline
                      disablepictureinpicture
                    >
                      {% for source in section.settings.video.sources %}
                        <source
                          {% if autoplay %}
                            data-
                          {% endif -%}
                          src="{{ source.url }}"
                          type="{{ source.mime_type }}"
                        >
                      {% endfor %}
                    </video>
                    <button
                      class="internal-video__play"
                      {% if autoplay %}
                        style="visibility: hidden;"
                      {% endif %}
                    >
                      <div class="play-button color-accent-1">
                        {%- render 'icon-play' -%}
                      </div>
                    </button>
                  </internal-video>
                {% else %}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}

                  {% if section.settings.image_mobile != blank %}
                    {{
                      section.settings.image
                      | image_url: width: 1500
                      | image_tag:
                        class: 'mobile-hidden',
                        loading: 'lazy',
                        sizes: sizes,
                        widths: '165, 360, 535, 750, 1070, 1250, 1500'
                    }}

                    {{
                      section.settings.image_mobile
                      | image_url: width: 1000
                      | image_tag:
                        class: 'desktop-hidden',
                        loading: 'lazy',
                        sizes: sizes,
                        widths: '165, 360, 535, 750, 1000'
                    }}

                  {% else %}
                    {{
                      section.settings.image
                      | image_url: width: 1500
                      | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1250, 1500'
                    }}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
          <div id="CollapsibleRows-{{ section.id }}" class="grid__item">
            {% content_for 'blocks' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collapsible content",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption"
    },

    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collapsible content",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "title_highlight_1",
      "label": "Heading words highlight 1",
      "info": "Put words in BOLD to highlight them with this style.",
      "options": [
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "solid-color"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'solid-color' or section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-1_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-1_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "title_highlight_2",
      "label": "Heading words highlight 2",
      "info": "Put words in ITALIC to highlight them with this style (keep it 'None' if you want to use default italic style).",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'solid-color' or section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{  section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-2_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-2_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "range",
      "id": "custom_desktop_size",
      "min": 24,
      "max": 60,
      "step": 3,
      "unit": "px",
      "default": 39,
      "label": "Custom desktop size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "custom_mobile_size",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 28,
      "label": "Custom mobile size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },

    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#FFFFFF",
      "label": "Custom background color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Custom gradient background",
      "info": "If added, replaces Background color when applicable.",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "image_picker",
      "id": "custom_image_background",
      "label": "Custom image background",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "image_picker",
      "id": "custom_mobile_image_background",
      "label": "Custom mobile image background",
      "info": "If empty, the Custom image background will also be applied to mobile devices",
      "visible_if": "{{ section.settings.color_scheme == 'custom' and section.settings.custom_image_background != blank }}"
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#2E2A39",
      "label": "Custom text color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "Background pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dotted",
          "label": "Dots"
        },
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "curved-grid",
          "label": "Curved grid"
        },
        {
          "value": "diagonal-stripes",
          "label": "Stripes"
        },
        {
          "value": "zigzag",
          "label": "ZigZag"
        },
        {
          "value": "arrow-pattern",
          "label": "3D Boxes"
        },
        {
          "value": "radial-rings",
          "label": "Rings"
        },
        {
          "value": "diamond-grid-1",
          "label": "Diamond grid 1"
        },
        {
          "value": "diamond-grid-2",
          "label": "Diamond grid 2"
        },
        {
          "value": "quatrefoils",
          "label": "Quatrefoils"
        },
        {
          "value": "ovals",
          "label": "Ovals"
        },
        {
          "value": "hexagons",
          "label": "Hexagons"
        },
        {
          "value": "curvy",
          "label": "Curvy"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "Pattern color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Pattern size / spacing",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Line / dot thickness",
      "default": 2,
      "visible_if": "{{ section.settings.pattern_bg == 'dotted' or section.settings.pattern_bg == 'grid' or section.settings.pattern_bg == 'diagonal-stripes' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_angle",
      "min": 0,
      "max": 180,
      "step": 15,
      "unit": "deg",
      "label": "Stripe angle",
      "default": 45,
      "visible_if": "{{ section.settings.pattern_bg == 'diagonal-stripes' }}"
    },
    {
      "type": "select",
      "id": "pattern_opacity_mode",
      "label": "Opacity type",
      "default": "low",
      "options": [
        {
          "value": "low",
          "label": "Low"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity_low",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "%",
      "label": "Opacity",
      "default": 7,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_opacity_mode == 'low' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity_normal",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 80,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_opacity_mode == 'normal' }}"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image",
      "info": "If no image is selected, the desktop image will be used on mobile.",
      "visible_if": "{{ section.settings.image != blank }}"
    },
    {
      "type": "paragraph",
      "content": "Or"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Use autoplay mp4 instead of GIFs & animated WEBPs."
    },
    {
      "type": "checkbox",
      "id": "video_muted_autoplay",
      "label": "Muted autoplay",
      "default": true,
      "info": "Use this instead of GIFs & animated WEBPs.",
      "visible_if": "{{ section.settings.video != blank }}"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to media"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Media height"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "image_first",
          "label": "Media first"
        },
        {
          "value": "image_second",
          "label": "Media second"
        }
      ],
      "default": "image_second",
      "label": "Desktop layout",
      "info": "Media is always first on mobile."
    },
    {
      "type": "header",
      "content": "Rows"
    },
    {
      "type": "range",
      "id": "rows_spacing",
      "label": "Spacing between rows",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 4
    },
    {
      "type": "select",
      "id": "row_heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "collapse_icon",
      "label": "Collapse icon",
      "options": [
        {
          "value": "carret",
          "label": "Carret"
        },
        {
          "value": "plus",
          "label": "Plus"
        }
      ],
      "default": "carret"
    },
    {
      "type": "select",
      "id": "collapse_icon_style",
      "label": "Collapse icon style",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "solid", "label": "Solid" }
      ],
      "default": "standard"
    },
    {
      "type": "range",
      "id": "collapse_icon_radius",
      "label": "Solid collapse icon corner radius",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 15,
      "visible_if": "{{ section.settings.collapse_icon_style == 'solid' }}"
    },
    {
      "type": "header",
      "content": "Rows styling"
    },
    {
      "type": "range",
      "id": "animation_speed",
      "label": "Animation speed",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "s",
      "default": 0.4
    },
    {
      "type": "select",
      "id": "border_type",
      "label": "Border type",
      "options": [
        { "value": "top-bottom", "label": "Top & bottom" },
        { "value": "bottom", "label": "Bottom only" },
        { "value": "all", "label": "All around" },
        { "value": "none", "label": "None" }
      ],
      "default": "bottom"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "Border thickness",
      "min": 1,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 1,
      "visible_if": "{{ section.settings.border_type != 'none' }}"
    },
    {
      "type": "select",
      "id": "border_style",
      "label": "Border style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.border_type != 'none' }}"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.border_type == 'all' or section.settings.border_type == 'none' and section.settings.enable_custom_style }}"
    },

    { "type": "header", "content": "Colors selection" },
    {
      "type": "checkbox",
      "id": "enable_custom_style",
      "label": "Enable custom color & styling selection",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_padding_vertical",
      "label": "Header vertical padding",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "range",
      "id": "heading_padding_horizontal",
      "label": "Header horizontal padding",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "range",
      "id": "content_padding_vertical",
      "label": "Content vertical padding",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "range",
      "id": "content_padding_horizontal",
      "label": "Content horizontal padding",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },

    {
      "type": "header",
      "content": "Closed state colors",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_border",
      "label": "Border color",
      "default": "#dddddd",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_header_bg",
      "label": "Header background color",
      "default": "#F9F9F9",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_header_text",
      "label": "Header text color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_row_icon",
      "label": "Row icon color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_collapse_icon",
      "label": "Collapse icon color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style != 'solid' }}"
    },
    {
      "type": "color",
      "id": "closed_state_collapse_icon_solid",
      "label": "Collapse icon color",
      "default": "#fff",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "closed_state_collapse_bg",
      "label": "Collapse icon background",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "closed_state_content_bg",
      "label": "Content background color",
      "default": "#F9F9F9",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "closed_state_content_text",
      "label": "Content text color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },

    {
      "type": "header",
      "content": "Open state colors",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_border",
      "label": "Border color",
      "default": "#D5AEEA",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_header_bg",
      "label": "Header background color",
      "default": "#FEFAFF",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_header_text",
      "label": "Header text color",
      "default": "#000000",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_row_icon",
      "label": "Row icon color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_collapse_icon",
      "label": "Collapse icon color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style != 'solid' }}"
    },
    {
      "type": "color",
      "id": "open_state_collapse_icon_solid",
      "label": "Collapse icon color",
      "default": "#fff",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "open_state_collapse_bg",
      "label": "Collapse icon background",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.enable_custom_style == true and section.settings.collapse_icon_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "open_state_content_bg",
      "label": "Content background color",
      "default": "#FEFAFF",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "color",
      "id": "open_state_content_text",
      "label": "Content text color",
      "default": "#121212",
      "visible_if": "{{ section.settings.enable_custom_style == true }}"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collapsible-row-content"
    }
  ],
  "presets": [
    {
      "name": "Collapsible content",
      "blocks": [
        {
          "type": "collapsible-row-content",
          "settings": {
            "open": true
          }
        },
        {
          "type": "collapsible-row-content"
        },
        {
          "type": "collapsible-row-content"
        },
        {
          "type": "collapsible-row-content"
        }
      ]
    }
  ]
}
{% endschema %}
