{% liquid
  assign border_colors_arr = '#FF0000, #00FF00, #0000FF, #FFD800, #FF00FF, #00FFFF' | split: ','
%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .custom-columns-grid-{{ section.id }} {
    column-gap: {{ section.settings.column_gap_mobile | divided_by: 10.0 }}rem;
    row-gap: {{ section.settings.row_gap_mobile | divided_by: 10.0 }}rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .custom-columns-grid-{{ section.id }} {
      column-gap: {{ section.settings.column_gap_desktop | divided_by: 10.0 }}rem;
      row-gap: {{ section.settings.row_gap_desktop | divided_by: 10.0 }}rem;
    }
  }

  {% if section.settings.desktop_page_width == 'custom' %}
    #PageWidth-{{ section.id }} {
      max-width: {{ section.settings.custom_page_width | divided_by: 10.0 }}rem;
    }
  {% endif %}

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    {% if section.settings.custom_image_background != blank %}
      {% # theme-check-disable %}
      --gradient-background: url('{{ section.settings.custom_image_background | img_url: 'master' }}') center center / cover no-repeat;
      {% # theme-check-enable %}
    {% endif %}
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
    --color-button: {{ section.settings.custom_colors_solid_button_background.red }}, {{ section.settings.custom_colors_solid_button_background.green }}, {{ section.settings.custom_colors_solid_button_background.blue }};
    --color-button-text: {{ section.settings.custom_colors_solid_button_text.red }}, {{ section.settings.custom_colors_solid_button_text.green }}, {{ section.settings.custom_colors_solid_button_text.blue }};
    --color-base-outline-button-labels: {{ section.settings.custom_colors_outline_button.red }}, {{ section.settings.custom_colors_outline_button.green }}, {{ section.settings.custom_colors_outline_button.blue }};
  }
  {% if section.settings.custom_mobile_image_background != blank %}
    @media screen and (max-width: 740px) {
      .color-scheme-{{ section.id }}.color-custom {
        {% # theme-check-disable %}
        --gradient-background: url('{{ section.settings.custom_mobile_image_background | img_url: 'master' }}') center center / cover no-repeat;
        {% # theme-check-enable %}
      }
    }
  {% endif %}
  {% if section.settings.pattern_bg != 'none' %}
    {% render 'pattern-background' %}
  {% endif %}

  {% for block in section.blocks %}
    {% assign idx = forloop.index0 | modulo: border_colors_arr.size %}
    {% assign c = border_colors_arr[idx] | strip %}
    .custom-columns.custom-columns--indicators > div:nth-child({{ forloop.index }}) {
      --indicator-color: {{ c }};
    }
  {% endfor %}
{%- endstyle -%}

<div
  class="
    gradient
    animate-section
    animate--hidden
    content-for-grouping
    color-scheme-{{ section.id }}
    {{ section.settings.visibility }}
    color-{{ section.settings.color_scheme }}
  "
>
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div
    id="PageWidth-{{ section.id }}"
    class="
      page-width
      section-{{ section.id }}-padding
      {% if section.settings.mobile_full_page %} mobile-full-page{% endif %}
      {% if section.settings.desktop_page_width != 'normal' %} {{ section.settings.desktop_page_width }}{% endif %}
    "
  >
    <div
      class="custom-columns{% if section.settings.display_grid_lines %} custom-columns--indicators{% endif %}"
      style="
        --mobile-grid-parts:4;
        --desktop-grid-parts:12;
        --columns-count:{{ section.blocks.size }};
        --mobile-row-gap:{{ section.settings.row_gap_mobile | divided_by: 10.0 }}rem;
        --mobile-vertical-alignment:{{ section.settings.mobile_vertical_alignment }};
        --desktop-row-gap:{{ section.settings.row_gap_desktop | divided_by: 10.0 }}rem;
        --desktop-vertical-alignment:{{ section.settings.desktop_vertical_alignment }};
        --mobile-column-gap:{{ section.settings.column_gap_mobile | divided_by: 10.0 }}rem;
        --desktop-column-gap:{{ section.settings.column_gap_desktop | divided_by: 10.0 }}rem;
      "
    >
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom columns V2",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#FFFFFF",
      "label": "Custom background color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Custom gradient background",
      "info": "If added, replaces Background color when applicable.",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "image_picker",
      "id": "custom_image_background",
      "label": "Custom image background",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "image_picker",
      "id": "custom_mobile_image_background",
      "label": "Custom mobile image background",
      "info": "If empty, the Custom image background will also be applied to mobile devices",
      "visible_if": "{{ section.settings.color_scheme == 'custom' and section.settings.custom_image_background != blank }}"
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#2E2A39",
      "label": "Custom text color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_background",
      "default": "#dd1d1d",
      "label": "Custom solid button background",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_text",
      "default": "#ffffff",
      "label": "Custom solid button label color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "color",
      "id": "custom_colors_outline_button",
      "default": "#dd1d1d",
      "label": "Custom outline button color",
      "visible_if": "{{ section.settings.color_scheme == 'custom' }}"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "Background pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dotted",
          "label": "Dots"
        },
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "curved-grid",
          "label": "Curved grid"
        },
        {
          "value": "diagonal-stripes",
          "label": "Stripes"
        },
        {
          "value": "zigzag",
          "label": "ZigZag"
        },
        {
          "value": "arrow-pattern",
          "label": "3D Boxes"
        },
        {
          "value": "radial-rings",
          "label": "Rings"
        },
        {
          "value": "diamond-grid-1",
          "label": "Diamond grid 1"
        },
        {
          "value": "diamond-grid-2",
          "label": "Diamond grid 2"
        },
        {
          "value": "quatrefoils",
          "label": "Quatrefoils"
        },
        {
          "value": "ovals",
          "label": "Ovals"
        },
        {
          "value": "hexagons",
          "label": "Hexagons"
        },
        {
          "value": "curvy",
          "label": "Curvy"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "Pattern color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Pattern size / spacing",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Line / dot thickness",
      "default": 2,
      "visible_if": "{{ section.settings.pattern_bg == 'dotted' or section.settings.pattern_bg == 'grid' or section.settings.pattern_bg == 'diagonal-stripes' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_angle",
      "min": 0,
      "max": 180,
      "step": 15,
      "unit": "deg",
      "label": "Stripe angle",
      "default": 45,
      "visible_if": "{{ section.settings.pattern_bg == 'diagonal-stripes' }}"
    },
    {
      "type": "select",
      "id": "pattern_opacity_mode",
      "label": "Opacity type",
      "default": "low",
      "options": [
        {
          "value": "low",
          "label": "Low"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity_low",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "%",
      "label": "Opacity",
      "default": 7,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_opacity_mode == 'low' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity_normal",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 80,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_opacity_mode == 'normal' }}"
    },
    {
      "type": "paragraph",
      "content": "RECOMMENDED: Enable the setting below when customizing the columns to visualize them more easily."
    },
    {
      "type": "checkbox",
      "id": "display_grid_lines",
      "label": "Display indicators of each column",
      "default": false
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "select",
      "id": "desktop_page_width",
      "options": [
        {
          "value": "page-width--narrow",
          "label": "Narrow"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "desktop-full-page",
          "label": "Full width"
        },
        {
          "value": "desktop-full-page-no-padding",
          "label": "Full width without side spacing"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "normal",
      "label": "Page width"
    },
    {
      "type": "number",
      "id": "custom_page_width",
      "label": "Custom page width",
      "default": 900,
      "visible_if": "{{ section.settings.desktop_page_width == 'custom' }}"
    },
    {
      "type": "range",
      "id": "column_gap_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Horizontal spacing",
      "default": 40
    },
    {
      "type": "range",
      "id": "row_gap_desktop",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Vertical spacing",
      "default": 40
    },
    {
      "type": "select",
      "id": "desktop_vertical_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "label": "Vertical alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "id": "mobile_full_page",
      "label": "Full page width",
      "default": false
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Horizontal spacing",
      "default": 20
    },
    {
      "type": "range",
      "id": "row_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Vertical spacing",
      "default": 30
    },
    {
      "type": "select",
      "id": "mobile_vertical_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "label": "Vertical alignment",
      "default": "flex-start"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "column"
    }
  ],
  "presets": [
    {
      "name": "Custom Columns V2",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "desktop_width": 12,
            "mobile_width": 4
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "title": "Custom columns",
                "alignment": "center"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Use the flexible grid system to create any layout. Each block can be placed in any of the columns.</p>",
                "alignment": "center"
              }
            }
          ]
        },
        {
          "type": "column",
          "settings": {
            "desktop_width": 4,
            "mobile_width": 4
          },
          "blocks": [
            {
              "type": "icon-with-content",
              "settings": {
                "margin_top": 0,
                "margin_bottom": 30
              }
            },
            {
              "type": "icon-with-content",
              "settings": {
                "margin_bottom": 0
              }
            }
          ]
        },
        {
          "type": "column",
          "settings": {
            "desktop_width": 4,
            "mobile_width": 4
          },
          "blocks": [
            {
              "type": "image"
            }
          ]
        },
        {
          "type": "column",
          "settings": {
            "desktop_width": 4,
            "mobile_width": 4
          },
          "blocks": [
            {
              "type": "icon-with-content",
              "settings": {
                "margin_top": 0,
                "margin_bottom": 30
              }
            },
            {
              "type": "icon-with-content",
              "settings": {
                "margin_bottom": 0
              }
            }
          ]
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
