<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.title == blank %} no-heading{% endif %} content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div class="page-width-desktop isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link animate-item animate-item--child index-0{% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        {% render 'section-title', className: 'blog__title' %}
        {%- if section.settings.blog != blank
          and section.settings.show_view_all
          and section.settings.post_limit < section.settings.blog.articles_count
        -%}
          <a
            href="{{ section.settings.blog.url }}"
            class="link underlined-link large-up-hide"
          >
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <slider-component class="slider-mobile-gutter animate-item animate-item--child index-1">
        <ul
          id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper contains-card contains-card--article{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--peek grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}"
          role="list"
        >
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="blog__post grid__item article slider__slide slider__slide--full-width"
            >
              {% render 'article-card',
                blog: section.settings.blog,
                article: article,
                media_aspect_ratio: 1.66,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true
              %}
            </li>
          {%- endfor -%}
        </ul>
        {%- if posts_exceed_limit -%}
          <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total visually-hidden">{{ section.settings.post_limit }}</span>
              <span class="slider-counter--total">{{ section.settings.post_limit }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>

      {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        <div class="blog__view-all center small-hide medium-hide">
          <a
            href="{{ section.settings.blog.url }}"
            id="ViewAll-{{ section.id }}"
            class="blog__button button"
            aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
          >
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },

    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Blog posts",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "title_highlight_1",
      "label": "Heading words highlight 1",
      "info": "Put words in BOLD to highlight them with this style.",
      "options": [
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "solid-color"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'solid-color' or section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-1_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-1_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "title_highlight_2",
      "label": "Heading words highlight 2",
      "info": "Put words in ITALIC to highlight them with this style (keep it 'None' if you want to use default italic style).",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'solid-color' or section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{  section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-2_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-2_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "range",
      "id": "custom_desktop_size",
      "min": 24,
      "max": 60,
      "step": 3,
      "unit": "px",
      "default": 39,
      "label": "Custom desktop size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "custom_mobile_size",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 28,
      "label": "Custom mobile size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
