{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden content-for-grouping animate-section animate--hidden">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% render 'section-title', className: 'related-products__heading', animate: true %}
      <ul
        class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.stretch_cards %} grid--stretch{% endif %}"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          {% unless recommendation.tags contains 'collection-hidden' %}
            <li class="grid__item animate-item animate-item--child" style="--index:{{ forloop.index0 }};">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_quick_add: section.settings.enable_quick_add,
                button_funcionality: section.settings.button_funcionality,
                quick_add_as_link_label: section.settings.button_label,
                show_rating: section.settings.show_rating
              %}
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "You may also like",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "title_highlight_1",
      "label": "Heading words highlight 1",
      "info": "Put words in BOLD to highlight them with this style.",
      "options": [
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "solid-color"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'solid-color' or section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-1_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-1_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-1_border_width > 0 and section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-1_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_1 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_1_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_1 == 'underline-solid' or section.settings.title_highlight_1 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_1_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_1_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_1 == 'line-1' or section.settings.title_highlight_1 == 'line-2' or section.settings.title_highlight_1 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "title_highlight_2",
      "label": "Heading words highlight 2",
      "info": "Put words in ITALIC to highlight them with this style (keep it 'None' if you want to use default italic style).",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid-color",
          "label": "Color"
        },
        {
          "value": "gradient-color",
          "label": "Gradient"
        },
        {
          "value": "bg-color",
          "label": "Background"
        },
        {
          "value": "underline-solid",
          "label": "Underline"
        },
        {
          "value": "underline-gradient",
          "label": "Gradient underline"
        },
        {
          "value": "line-1",
          "label": "Line 1"
        },
        {
          "value": "line-2",
          "label": "Line 2"
        },
        {
          "value": "line-3",
          "label": "Line 3"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_gradient",
      "label": "Text gradient",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'gradient-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_bg-color",
      "label": "Text background color",
      "default": "#F9EFFF",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_color",
      "label": "Text color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'solid-color' or section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_border_width",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0,
      "visible_if": "{{  section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "select",
      "id": "highlighted-2_border",
      "label": "Border style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "color",
      "id": "highlighted-2_border_color",
      "label": "Border color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.highlighted-2_border_width > 0 and section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-block",
      "label": "Vertical padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "%",
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "highlighted-2_padding-inline",
      "label": "Horizontal padding",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "default": 0.3,
      "info": "Relative to font size",
      "visible_if": "{{ section.settings.title_highlight_2 == 'bg-color' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-thickness",
      "label": "Underline thickness",
      "min": 0,
      "max": 6,
      "step": 1,
      "unit": "px",
      "default": 2,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_underline-color",
      "label": "Underline color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' }}"
    },
    {
      "type": "color_background",
      "id": "title_highlight_2_underline-color--gradient",
      "label": "Underline gradient color",
      "default": "linear-gradient(57deg, rgba(249, 119, 255, 1) 8%, rgba(54, 212, 255, 1) 47%, rgba(43, 252, 135, 1) 83%)",
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_underline-color-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 25,
      "visible_if": "{{ section.settings.title_highlight_2 == 'underline-solid' or section.settings.title_highlight_2 == 'underline-gradient' }}"
    },
    {
      "type": "color",
      "id": "title_highlight_2_handwritten-color",
      "label": "Stroke color",
      "default": "#6D388B",
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-stroke-width",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Stroke thickness",
      "unit": "px",
      "default": 3,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "range",
      "id": "title_highlight_2_handwritten-position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Vertical position",
      "unit": "%",
      "default": 60,
      "visible_if": "{{ section.settings.title_highlight_2 == 'line-1' or section.settings.title_highlight_2 == 'line-2' or section.settings.title_highlight_2 == 'line-3' }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "range",
      "id": "custom_desktop_size",
      "min": 24,
      "max": 60,
      "step": 3,
      "unit": "px",
      "default": 39,
      "label": "Custom desktop size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "custom_mobile_size",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 28,
      "label": "Custom mobile size",
      "visible_if": "{{ section.settings.heading_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "stretch_cards",
      "default": false,
      "label": "Make all cards same height"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Color scheme",
      "info": "To change the card color scheme, update your theme settings."
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "select",
      "id": "button_funcionality",
      "options": [
        {
          "value": "add-to-cart",
          "label": "Add to cart / Open details popup"
        },
        {
          "value": "link-to-product-page",
          "label": "Link to product page"
        }
      ],
      "default": "add-to-cart",
      "label": "Quick add button functionality",
      "visible_if": "{{ section.settings.enable_quick_add }}"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Go to product",
      "label": "Button label",
      "visible_if": "{{ section.settings.button_funcionality == 'link-to-product-page' }}"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
